Django>=4.1.7
lxml>=4.9.2
requests>=2.28.1
bs4>=0.0.1
colorlog>=6.7.0
whitenoise>=6.4.0
gunicorn;platform_system!='Windows'
celery>=5.2.7
djangorestframework>=3.14.0
django-celery-results>=2.5.0
django-extensions>=3.2.1
redis
psycopg2-binary
yara-python
yara-scanner
drf_yasg
pyyaml
androguard
pysast>=1.1.3a0