Django
lxml
requests
bs4
colorlog
whitenoise
waitress;platform_system=='Windows'
gunicorn;platform_system!='Windows'
celery
djangorestframework
django-celery-results
django-extensions
redis
psycopg2-binary