{% extends 'base.html' %}
{% load static %}
{% load mastf_tags %}

<!-- Title -->
{% block title %}
MASTF | Plugins
{% endblock title %}

{% block css_extended %}
<link href="{% static 'libs/datatables/datatables.min.css' %}" rel="stylesheet" />
{% endblock css_extended %}

{% block page_header %}
<div class="page-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title">
          Plugins Control
        </h2>
      </div>
    </div>
  </div>
</div>
{% endblock page_header %}


{% block page_body %}
<div class="page-body">
  <div class="container-fluid">
    <div class="card">
      <div class="row g-0">
        <div class="col-3 d-none d-md-block border-end">
          <div class="card-body">
            <h4 class="subheader">Default Plugins</h4>
            <div class="list-group list-group-transparent">
              <a href="{% url 'Plug-Ins'%}?subpage=permissions"
                class="list-group-item list-group-item-action d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-registered me-2" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                  <path d="M10 15v-6h2a2 2 0 1 1 0 4h-2"></path>
                  <path d="M14 15l-2 -2"></path>
                </svg>
                App Permissions
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-template me-2" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z"></path>
                  <path d="M4 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                  <path d="M14 12l6 0"></path>
                  <path d="M14 16l6 0"></path>
                  <path d="M14 20l6 0"></path>
                </svg>
                Report Templates
              </a>
              <a href="{% url 'Plug-Ins'%}?subpage=packages" class="list-group-item list-group-item-action d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-analytics me-2"
                  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                  <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
                  <path d="M9 17v-5"></path>
                  <path d="M12 17v-1"></path>
                  <path d="M15 17v-3"></path>
                </svg>
                Packages
              </a>
              <a href="{% url 'Plug-Ins'%}?subpage=hosts"
                class="list-group-item list-group-item-action d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link me-2" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M9 15l6 -6"></path>
                  <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"></path>
                  <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"></path>
                </svg>
                Host Descriptions
              </a>
            </div>

            <h4 class="subheader mt-4">User Plugins</h4>
          </div>
        </div>
        {% if active == 'tabs-permissions' %}
        <div id="permission-page" id="permission-page" class="col d-flex flex-column">
          <div class="card-body">
            <!-- Body -->
            <a class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-add-permission">Add
              Permission</a>
              <a class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-upload-permission">Upload file</a>
            <br><br>
            <div class="table-responsive-xl">
              <table id="app-permissions" class="table card-table text-nowrap datatable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Identifier</th>
                    <th>Protection Level</th>
                    <th>Dangerous</th>
                    <th>Group</th>
                    <th>Description</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        {% endif %}
        {% if active == 'tabs-hosts' %}
        <div id="hosts-page" class="col d-flex flex-column">
          <div class="card-body">
            <!-- Body -->
            <a class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-add-hosts">Add Host</a>
            <br><br>
            <div class="table-responsive-xl">
              <table id="app-hosts" class="table card-table text-nowrap datatable">
                <thead>
                  <tr>
                    <th>Domain Name</th>
                    <th>IP-Adress</th>
                    <th>Owner</th>
                    <th>Description</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr></tr>
                </tbody>
              </table>

            </div>
            {% endif %}
            {% if active == 'tabs-packages' %}
            <div id="packages-page" class="col d-flex flex-column">
              <div class="card-body">
                <!-- Body -->
                <a class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-add-package">Add
                  Package</a>
                <br><br>
                <div class="table-responsive-xl">

                  <table id="app-packages" class="table card-table text-nowrap datatable">
                    <thead>
                      <tr>
                        <th>Package Name</th>
                        <th>Artifact ID</th>
                        <th>Group ID</th>
                        <th>Type</th>
                        <th>Platform</th>
                        <th>Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>

                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex align-items-center">
      </div>
    </div>
  </div>
</div>
{% endblock page_body %}

{% block modal_scripts %}
<script src="{% static 'libs/datatables/datatables.min.js' %}"></script>

{% if active == 'tabs-permissions' %}
<!--JS for permisson modals-->
<script>

  async function createPermission() {
    const name = document.getElementById("add-permission-name").value;
    const identifier = document.getElementById("add-permission-identifier").value;
    const protection_level = document.getElementById("add-permission-protection_level").value;
    const group = document.getElementById("add-permission-group").value;
    const dangerous = document.getElementById("add-permission-dangerous").value;
    const short_description = document.getElementById("add-permission-short_description").value;
    const description = document.getElementById("add-permission-description").value;
    const risk = document.getElementById("add-permission-risk").value;
    const csrf = '{% csrf_token %}'.substr(55, 64)
    const data = { "csrfmiddlewaretoken": csrf, "name": name, "identifier": identifier, "protection_level": protection_level, "group": group, "dangerous": dangerous, "short_description": short_description, "description": description, "risk": risk }
    const response = await fetch("{% url 'AppPermissionCreate' %}", {
      method: "POST",
      mode: "cors",
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken")
      },
      body: JSON.stringify(data),
    });
    console.log(response.json())
    location.reload();
  }

  async function loadPermissionToEditModal(uuid) {
    const permission = await getPermission(uuid);

    document.getElementById("edit-permission-permission_uuid").value = permission.permission_uuid;
    document.getElementById("edit-permission-name").value = permission.name;
    document.getElementById("edit-permission-identifier").value = permission.identifier;
    document.getElementById("edit-permission-protection_level").value = permission.protection_level;
    document.getElementById("edit-permission-group").value = permission.group;
    if (permission.dangerous) {
      document.getElementById("edit-permission-dangerous").check;

    }
    document.getElementById("edit-permission-short_description").value = permission.short_description;
    document.getElementById("edit-permission-description").value = permission.description;
    document.getElementById("edit-permission-risk").value = permission.risk;
  }

  async function editPermission() {
    var form = document.getElementById("edit-permission-form");
    url = form.action.replace('04a6cad2-59b0-4a11-9694-9d3288ba55ed', document.getElementById("edit-permission-permission_uuid").value);
    const formData = $('#edit-permission-form').serializeArray();
    var data = {}
    $.each(formData, function () {
      data[this.name] = this.value;
    });
    console.log(data);
    REST.patch(url, JSON.stringify(data), function(data) {
      if (data.success) {
        location.reload();
      }
    });
  }
</script>
{% endif %}

{% if active == 'tabs-hosts' %}

<!--JS for hosts modals-->
<script>
  async function createHost() {
    const domainName = document.getElementById("add-host-domainName").value;
    const ip = document.getElementById("add-host-ip").value;
    const owner = document.getElementById("add-host-owner").value;
    const description = document.getElementById("add-host-description").value;

    const data = { "domain_name": domainName, "ip_address": ip, "owner": owner, "description": description };
    REST.post("{% url 'HostCreate' %}", JSON.stringify(data), function(data) {
      if (data.success) {
        location.reload();
      }
    });
  }
  async function loadHostToEditModal(uuid) {
    const host = await getHost(uuid);
    console.log(host);
    document.getElementById("edit-host-host_uuid").value = host.host_uuid;
    document.getElementById("edit-host-domainName").value = host.domain_name;
    document.getElementById("edit-host-ip").value = host.ip_adress;
    document.getElementById("edit-host-owner").value = host.owner;
    document.getElementById("edit-host-description").value = host.description;
  }
  async function editHost() {
    const url = "{% url 'HostView' '840d47d7-2c1c-4cfc-bc9a-8020633a23b3' %}".replace('840d47d7-2c1c-4cfc-bc9a-8020633a23b3', document.getElementById("edit-host-host_uuid").value);
    const formData = $('#edit-host-form').serializeArray();
    var data = {}
    $.each(formData, function () {
      data[this.name] = this.value;
    });
    console.log(data);
    REST.patch(url, JSON.stringify(data), function(data) {
      if (data.success) {
        location.reload();
      }
    });
  }

</script>

{% endif %}

{% if active == 'tabs-packages' %}

<!--JS for packages modals-->
<script>
  async function createPackage() {
    const name = document.getElementById("add-package-name").value;
    const artifact_id = document.getElementById("add-package-artifact_id").value;
    const group_id = document.getElementById("add-package-group_id").value;
    const type = document.getElementById("add-package-type").value;
    const platform = document.getElementById("add-package-platform").value;

    const data = { "name": name, "artifact_id": artifact_id, "group_id": group_id, "type": type, "platform": platform };
    REST.post("{% url 'PackageCreationView' %}", JSON.stringify(data), function(data) {
      if (data.success) {
        location.reload();
      }
    });
  }
  async function loadPackageToEditModal(uuid) {
    const pk = await getPackage(uuid);
    console.log(pk);
    document.getElementById("edit-package-package_uuid").value = pk.package_uuid;
    document.getElementById("edit-package-name").value = pk.name;
    document.getElementById("edit-package-artifact_id").value = pk.artifact_id;
    document.getElementById("edit-package-group_id").value = pk.group_id;
    document.getElementById("edit-package-type").value = pk.type;
    document.getElementById("edit-package-platform").value = pk.platform;
  }
  async function editPackage() {
    const url = "{% url 'PackageView' '75874668-6dbd-4266-af33-2df8c3a1e5dc' %}".replace('75874668-6dbd-4266-af33-2df8c3a1e5dc', document.getElementById("edit-package-package_uuid").value);
    const formData = $('#edit-package-form').serializeArray();
    var data = {}
    $.each(formData, function () {
      data[this.name] = this.value;
    });
    console.log(data);
    REST.patch(url, JSON.stringify(data), function(data) {
      if (data.success) {
        location.reload();
      }
    }));
  }
</script>

{% endif %}

{% endblock modal_scripts %}

{% block modals %}

{% if active == 'tabs-hosts' %}

<!--Modal to create a host entry-->

<div class="modal modal-blur fade" id="modal-add-hosts" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Add Host
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <label class="form-label required">Domain Name</label>
          <input class="form-control" type="text" placeholder="example.com" required id="add-host-domainName"
            minlength="5" maxlength="255">
        </div>
        <div class="mb-4">
          <label class="form-label">IP-Adress</label>
          <input class="form-control" id="add-host-ip" placeholder="XX.XX.XX.XX or IPv6" type="text" minlength="8"
            maxlength="128">
        </div>
        <div class="mb-4">
          <label class="form-label">Owner</label>
          <input class="form-control" id="add-host-owner" placeholder="Google" type="text" maxlength="255">
        </div>
        <div class="mb-4">
          <label class="form-label">Description</label>
          <textarea class="form-control" id="add-host-description"></textarea>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <input data-bs-dismiss="modal" onclick="createHost()" type="button" class="btn btn-primary" value="Add Host"
            id="host-submit">
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal to edit a host-->

<div class="modal modal-blur fade" id="modal-edit-host" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Add Host
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="edit-host-form">
        <div class="modal-body">
          <input type="hidden" id="edit-host-host_uuid" name="host_uuid">
          <div class="mb-4">
            <label class="form-label required">Domain Name</label>
            <input class="form-control" type="text" name="domain_name" required id="edit-host-domainName" minlength="5"
              maxlength="255">
          </div>
          <div class="mb-4">
            <label class="form-label">IP-Adress</label>
            <input class="form-control" id="edit-host-ip" name="ip_adress" type="text" minlength="8" maxlength="128">
          </div>
          <div class="mb-4">
            <label class="form-label">Owner</label>
            <input class="form-control" id="edit-host-owner" name="owner" type="text" maxlength="255">
          </div>
          <div class="mb-4">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="description" id="edit-host-description"></textarea>
          </div>
          <div class="modal-footer">
            <a class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-host">Delete
              Host</a>
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <input data-bs-dismiss="modal" onclick="editHost()" type="button" class="btn btn-primary" value="Edit Host"
              id="host-submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-delete-host" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Delete Host
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Do you really want to delete this host?</label>
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <input value="Delete" type="button" class="btn btn-danger" onclick="deleteHost();">
      </div>
    </div>
  </div>
</div>

{% endif %}

{% if active == 'tabs-permissions' %}

<!--Modal to edit a Permission-->

<div class="modal modal-blur fade" id="modal-edit-permission" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Edit Permission
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="edit-permission-form" method="patch"
        action="{% url 'AppPermissionView' '04a6cad2-59b0-4a11-9694-9d3288ba55ed' %}">
        <div class="modal-body">

          {% csrf_token %}
          <input type="hidden" name="permission_uuid" id="edit-permission-permission_uuid">
          <div class="mb-4">
            <label class="form-label required">Name</label>
            <input id="edit-permission-name" type="text" class="form-control" name="name" minlength="5" maxlength="256"
              required>
          </div>
          <div class="mb-4">
            <label class="form-label required">Identifier</label>
            <input id="edit-permission-identifier" type="text" class="form-control" name="identifier" minlength="3"
              maxlength="256" required>
          </div>
          <div class="mb-4">
            <label class="form-label required">Protection Level</label>
            <input id="edit-permission-protection_level" type="text" class="form-control" name="protection_level"
              minlength="3" m"axlength="256" required>
          </div>
          <div class="mb-4"">
                  <label class=" form-label required">Group</label>
            <input id="edit-permission-group" type="text" class="form-control" name="group" minlength="3"
              maxlength="256" required>
          </div>
          <div class="mb-4">
            <label class="form-check form-switch required">
              <span class="form-check-label">Dangerous</span>
              <input id="edit-permission-dangerous" class="form-check-input" type="checkbox">
            </label>
          </div>
          <br>
          <div class="mb-4">
            <label class="form-label required">Short Description</label>
            <input id="edit-permission-short_description" type="text" class="form-control" name="short_description"
              minlength="3" maxlength="256" required>
          </div>
          <div class="mb-4">
            <label class="form-label required">Longer Description</label>
            <textarea id="edit-permission-description" class="form-control" name="description"></textarea>
          </div>
          <div class="mb-4">
            <label class="form-label required">Risk</label>
            <textarea id="edit-permission-risk" class="form-control" name="risk"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <a class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-permission">Delete
            Permission</a>
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <input data-bs-dismiss="modal" onclick="editPermission()" type="button" class="btn btn-primary"
            value="Edit Permission" id="permission-submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!--Modal to delete Permission-->

<div class="modal modal-blur fade" id="modal-delete-permission" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Delete Permission
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Do you really want to delete this permission?</label>
        <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <input value="Delete" type="button" class="btn btn-danger" onclick="deletePermission();">
      </div>
    </div>
  </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-upload-permission" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Upload File
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'AppPermissionFileUpload' %}" method="post">
           {% csrf_token %}
        <label for="modal-upload-file" class="form-label">Choose JSON file.</label>
        <input type="file" class="form-control" id="modal-upload-file">
        <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <input value="Submit" type="submit" class="btn btn-primary">
      </div>
    </form>
    </div>
  </div>
  </div>
</div>

<!--Modal to add a Permission-->
<div class="modal modal-blur fade" id="modal-add-permission" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Add Permission
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="add-permission-form" method="post" action="{% url 'AppPermissionCreate' %}">
        <div class="modal-body">

          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label required">Name</label>
            <input id="add-permission-name" type="text" class="form-control" name="name" placeholder="name"
              minlength="5" maxlength="256" required>
          </div>
          <div class="mb-3">
            <label class="form-label required">Identifier</label>
            <input id="add-permission-identifier" type="text" class="form-control" name="identifier"
              placeholder="identifier" minlength="3" maxlength="256" required>
          </div>
          <div class="mb-3">
            <label class="form-label required">Protection Level</label>
              <select class="form-select" id="add-permission-protection_level">
                {% for pl in protection_levels %}
                <option value="{{ pl }}">{{ pl }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="mb-3">
            <label class="form-label required">Group</label>
            <input id="add-permission-group" type="text" class="form-control" name="group" placeholder="group"
              minlength="3" maxlength="256" required>
          </div>
          <div class="mb-3">
            <label class="form-check form-switch required">
              <span class="form-check-label">Dangerous</span>
              <input id="add-permission-dangerous" class="form-check-input" type="checkbox">
            </label>
          </div>
          <br>
          <div class="mb-3">
            <label class="form-label required">Short Description</label>
            <input id="add-permission-short_description" type="text" class="form-control" name="short_description"
              placeholder="short_description" minlength="3" , maxlength="256" required>
          </div>
          <div class="mb-3">
            <label class="form-label required">Longer Description</label>
            <textarea id="add-permission-description" class="form-control" name="description"
              placeholder="description"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label required">Risk</label>
            <textarea id="add-permission-risk" class="form-control" name="risk" placeholder="risk"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <input data-bs-dismiss="modal" onclick="createPermission()" type="button" class="btn btn-success"
            value="Create Permission" id="permission-submit">
        </div>
      </form>
    </div>
  </div>
</div>

{% endif %}

{% if active == 'tabs-packages' %}


<!--Modal to create a package-->
<div class="modal modal-blur fade" id="modal-add-package" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Create Package
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <label class="form-label required">Name</label>
          <input id="add-package-name" class="form-control" placeholder="Name" required minlength="3" maxlength="256"
            type="text">
        </div>
        <div class="mb-4">
          <label class="form-label required">Artifact ID</label>
          <input id="add-package-artifact_id" class="form-control" placeholder="Artifact Id" required minlength="3"
            maxlength="256" type="text">
        </div>
        <div class="mb-4">
          <label class="form-label required">Group ID</label>
          <input id="add-package-group_id" class="form-control" placeholder="Group Id" required minlength="3"
            maxlength="256" type="text">
        </div>
        <div class="mb-4">
          <label class="form-label required">Type/Source</label>
          <select class="form-select" id="add-package-type">
            {% for t in type %}
            <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-4">
          <label class="form-label required">Platform</label>
            <select class="form-select" id="add-package-platform">
              {% for p in platforms %}
              <option value="{{ p }}">{{ p }}</option>
              {% endfor %}
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <input data-bs-dismiss="modal" onclick="createPackage()" type="button" class="btn btn-success"
          value="Create Package" id="package-submit">
      </div>
    </div>
  </div>
</div>

<!--Modal to edit package-->

<div class="modal modal-blur fade" id="modal-edit-package" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Add Package
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="edit-package-form">
        <div class="modal-body">
          <input type="hidden" id="edit-package-package_uuid" name="package_uuid">
          <div class="mb-4">
            <label class="form-label required">Name</label>
            <input class="form-control" type="text" name="name" required id="edit-package-name" minlength="5"
              maxlength="512">
          </div>
          <div class="mb-4">
            <label class="form-label">Artifact ID</label>
            <input class="form-control" id="edit-package-artifact_id" name="artifact_id" type="text" minlength="8"
              maxlength="512">
          </div>
          <div class="mb-4">
            <label class="form-label">Group ID</label>
            <input class="form-control" id="edit-package-group_id" name="group_id" type="text" maxlength="512">
          </div>
          <div class="mb-4">
            <label class="form-label">Type</label>
            <input class="form-control" name="type" id="edit-package-type" type="text" maxlength="255">
          </div>
          <div class="mb-4">
            <label class="form-label">Platform</label>
            <input class="form-control" name="platform" id="edit-package-platform" type="text" maxlength="255">
          </div>
          <div class="modal-footer">
            <a class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-delete-package">Delete
              Host</a>
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <input data-bs-dismiss="modal" onclick="editPackage()" type="button" class="btn btn-primary"
              value="Edit Host" id="host-submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-delete-package" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Delete Package
        </h5>
        <!-- Simple workaround to close this modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>Do you really want to delete this package?</label>
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <input value="Delete" type="button" class="btn btn-danger" onclick="deletePackage();">
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock modals %}




{% block js_extended %}
{% if active == 'tabs-permissions' %}
<!--JS for permission table-->
<script>
  document.addEventListener("DOMContentLoaded", async function () {
    loadPermissionsToTable();
  });

  async function loadPermissionsToTable() {
    const data = await loadPermissionsForTable();
    $('#app-permissions').DataTable({
      data: data
    });
  }

  // Build object for Datatable
  async function loadPermissionsForTable() {
    const permissions = await loadPermissions();
    const editTag = '<a onclick="console.log(loadPermissionToEditModal(\'permission_uuid\'))" class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-permission">Edit</a>';
    var data = [];
    for (p of permissions) {
      var tmp = [];
      tmp.push(p.name);
      tmp.push(p.identifier);
      tmp.push(p.protection_level);
      tmp.push(p.dangerous);
      tmp.push(p.group);
      tmp.push(p.short_description);
      tmp.push(editTag.replace("permission_uuid", p.permission_uuid));
      data.push(tmp);
    }
    return data
  }

  async function loadPermissions() {
    const url = "{% url 'AppPermissionListView' %}";

    const response = await fetch(url, {
      method: "GET"
    })
    const result = await response.json();
    return result.results
  }

  async function getPermission(uuid) {
    const url = "{% url 'AppPermissionView' '04a6cad2-59b0-4a11-9694-9d3288ba55ed' %}".replace('04a6cad2-59b0-4a11-9694-9d3288ba55ed', uuid);

    const response = await fetch(url, {
      methode: "GET"
    })
    const result = await response.json();
    return result
  }

  async function deletePermission() {
    const uuid = document.getElementById("edit-permission-permission_uuid").value;
    const url = "{% url 'AppPermissionView' '04a6cad2-59b0-4a11-9694-9d3288ba55ed' %}".replace('04a6cad2-59b0-4a11-9694-9d3288ba55ed', uuid);

     REST.delete(url, function(data) {
        if (data.success) {
            location.reload();
        }
     });
  }

</script>
{% endif %}

{% if active == 'tabs-hosts' %}

<!--JS for host table-->
<script>
  document.addEventListener("DOMContentLoaded", async function () {
    loadHostsToTable();
  });

  async function loadHostsToTable() {
    const data = await loadHostsForTable();
    $('#app-hosts').DataTable({
      data: data
    });
  }
    // Build object for Datatable
  async function loadHostsForTable() {
    const hosts = await loadHosts();
    const editTag = '<a onclick="loadHostToEditModal(\'host_uuid\')" class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-host">Edit</a>';
    var data = [];
    for (h of hosts) {
      var tmp = [];
      tmp.push(h.domain_name);
      tmp.push(h.ip_address);
      tmp.push(h.owner)
      tmp.push(h.description);
      tmp.push(editTag.replace("host_uuid", h.host_uuid));
      data.push(tmp);
    }
    return data
  }
  async function loadHosts() {
    const url = "{% url 'HostListView' %}";

    const response = await fetch(url, {
      methode: "GET"
    })
    const result = await response.json();
    return result.results
  }
  async function getHost(uuid) {
    const url = "{% url 'HostView' '840d47d7-2c1c-4cfc-bc9a-8020633a23b3' %}".replace('840d47d7-2c1c-4cfc-bc9a-8020633a23b3', uuid);

    const response = await fetch(url, {
      methode: "GET"
    })
    const result = await response.json();
    return result
  }
  async function deleteHost() {
    const uuid = document.getElementById("edit-host-host_uuid").value;
    const url = "{% url 'HostView' '840d47d7-2c1c-4cfc-bc9a-8020633a23b3' %}".replace('840d47d7-2c1c-4cfc-bc9a-8020633a23b3', uuid);
    REST.delete(url, function(data) {
      if (data.success) {
          location.reload();
      }
   });
  }
</script>

{% endif %}

{% if active == 'tabs-packages' %}

<!--JS for package table-->

<script>
  document.addEventListener("DOMContentLoaded", async function () {
    loadPackagesToTable();
  });

  async function loadPackagesToTable() {
    const data = await loadPackagesForTable();
    $('#app-packages').DataTable({
      data: data
    });
  }
    // Build object for Datatable
  async function loadPackagesForTable() {
    const packages = await loadPackages();
    const editTag = '<a onclick="loadPackageToEditModal(\'package_uuid\')" class="btn float-end" href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-package">Edit</a>';
    var data = [];
    for (p of packages) {
      var tmp = [];
      tmp.push(p.name);
      tmp.push(p.artifact_id);
      tmp.push(p.group_id)
      tmp.push(p.type);
      tmp.push(p.platform);
      tmp.push(editTag.replace("package_uuid", p.package_uuid));
      data.push(tmp);
    }
    return data
  }
  async function loadPackages() {
    const url = "{% url 'PackageListView' %}";

    const response = await fetch(url, {
      methode: "GET"
    });
    const result = await response.json();
    return result.results
  }
  async function getPackage(uuid) {
    const url = "{% url 'PackageView' '75874668-6dbd-4266-af33-2df8c3a1e5dc' %}".replace('75874668-6dbd-4266-af33-2df8c3a1e5dc', uuid);

    const response = await fetch(url, {
      methode: "GET"
    })
    const result = await response.json();
    return result
  }
  async function deletePackage() {
    const uuid = document.getElementById("edit-package-package_uuid").value;
    const url = "{% url 'PackageView' '75874668-6dbd-4266-af33-2df8c3a1e5dc' %}".replace('75874668-6dbd-4266-af33-2df8c3a1e5dc', uuid);
    REST.delete(url, function(data) {
      if (data.success) {
          location.reload();
      }
   });
  }
</script>

{% endif %}


{% endblock %}